/* ================================
   GLOBAL
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f7f3;
    color: #1f2933;
}

button {
    font-family: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ================================
   APP
================================ */

.app {
    width: 100%;
    overflow: hidden;
}